@using KanbanBoard.Presentation.Extensions
@inject IDialogService DialogService

<div style="cursor: pointer;" @onclick="@(() => OpenTaskDetail())" draggable="true">
    <MudPaper Class="pa-2" Elevation="1">
        <MudText Typo="Typo.body1" Class="font-weight-bold">@Task.Title</MudText>
        @if (!string.IsNullOrEmpty(Task.Description))
        {
            <MudText Typo="Typo.body2" Color="Color.Tertiary">@Task.Description.Truncate(50)</MudText>
        }
        <MudStack Row="true" Spacing="2" Class="mt-2" Wrap="Wrap.Wrap">
            <MudChip Size="Size.Small" Color="GetPriorityColor(Task.Priority)">@Task.Priority</MudChip>
            @if (Task.AssignedUserId.HasValue)
            {
                <MudChip Size="Size.Small" Color="Color.Secondary" Icon="@Icons.Material.Filled.Person">@Task.AssignedUsername</MudChip>
            }
            @if (Task.DueDate.HasValue)
            {
                <MudChip Size="Size.Small" Color="GetDueDateColor(Task.DueDate.Value)">@Task.DueDate.Value.ToShortDateString()</MudChip>
            }
            @if (Task.Comments.Any())
            {
                <MudChip Size="Size.Small" Color="Color.Info" Icon="@Icons.Material.Filled.Comment">@Task.Comments.Count</MudChip>
            }
            @if (Task.Attachments.Any())
            {
                <MudChip Size="Size.Small" Color="Color.Info" Icon="@Icons.Material.Filled.AttachFile">@Task.Attachments.Count</MudChip>
            }
        </MudStack>
    </MudPaper>
</div>